# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

Documentação SQLite: http://www.sqlite.org/docs.html

### Acessando Banco de Dados com Python

In [1]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [3]:
# Cria uma conexão com o banco de dados. 
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
# Criando um cursor 
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
# Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [8]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

In [14]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [15]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [16]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

IntegrityError: UNIQUE constraint failed: cursos.id

In [17]:
# Grava a transação
con.commit()

In [18]:
# Criando outra sentença SQL para selecionar registros
# Abrindo uma Query em SQL
sql_select = 'select * from cursos' #Instrução SQL

In [19]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall() #Pegar todos registros e salvar no objeto dados

In [24]:
# Mostra  
for linha in dados:
    print(linha)
    print('Curso Id: %d, Título: %s, Categoria: %s \n' %linha)

(1000, 'Ciência de Dados', 'Data Science')
Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

(1001, 'Big Data Fundamentos', 'Big Data')
Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

(1002, 'Python Fundamentos', 'Análise de Dados')
Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [29]:
# Gerando outros registros
recset = [(1009, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1010, 'R Fundamentos', 'Análise de Dados'),
         (1011, 'Matlab para Machine Learning', 'Engenharia')]

# Inserindo os registros
#sql_insert é uma instrução sql
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação
con.commit()

In [30]:
# Seleciona todos os registros
cur.execute('select * from cursos') #Diretamente a query sql 

# Recupera os resultados
recset = cur.fetchall() #salvando no objeto recset todo mundo

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1005, Título: Matlab para Machine Learning, Categoria: Engenharia

Curso Id: 1009, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1010, Título: R Fundamentos, Categoria: Análise de Dados

Curso Id: 1011, Título: Matlab para Machine Learning, Categoria: Engenharia

In [31]:
# Fecha a conexão
con.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>