# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Criando o Banco de Dados e Inserindo Dados

In [1]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("dsa.db") if os.path.exists("dsa.db") else None

In [2]:
import sqlite3

conexao = sqlite3.connect('dsa.db')

cursor = conexao.cursor()

In [3]:
#Função para criar a tabela 
def create_table():
    cursor.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
    
                   'prod_name TEXT, valor REAL)')
    
def create_linha():
    cursor.execute("INSERT INTO produtos VALUES(10, '2018-05-02 14:32:11', 'Teclado', 90)")
    conexao.commit() #gravar a partir da conexão
    cursor.close() #Fechar a tabela
    conexao.close()

In [4]:
# Criar tabela
create_table()

In [5]:
# Inserir dados
create_linha()

In [6]:
#Reabrindo conexao para observar os dados:
conexao2 = sqlite3.connect('dsa.db')

In [7]:
cursor2 = conexao2.cursor()

In [11]:
cursor2.execute('select * from produtos')
#Para utilizar o fetchall() deve-se primeiro selecionar todos os registros através
# de uma query sql 

dados = cursor2.fetchall()

In [12]:
for registro in dados:
    print(registro)
    print('id: %d, data: %s, Nome do Produto: %s, Valor em R$: %d \n' %(registro))

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
id: 10, data: 2018-05-02 14:32:11, Nome do Produto: Teclado, Valor em R$: 90

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>