<h1> Python lindo </h1>

In [1]:
import pandas as pd

In [2]:
dataframe = pd.DataFrame([1,5,3,4,8,9])

In [3]:
dataframe.describe()

             0
count  6.00000
mean   5.00000
std    3.03315
min    1.00000
25%    3.25000
50%    4.50000
75%    7.25000
max    9.00000