# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 4</font>

## Download: http://github.com/dsacademybr

## ************ ATENÇÃO ************
Caso você tenha problemas com acentos nos arquivos:

Primeiro, recomendamos a leitura do material sobre Formato Unicode, ao final do capítulo 4.

Uma forma de resolver esse problema, é abrir o arquivo em um editor de texto como o Sublime Text, clicar em File - Save with Encoding e então salvar com encoding UTF-8.

Outra opção é incluir o parâmetro encoding='utf8' ao abrir o arquivo para leitura ou escrita.

## Arquivos

Obs: Crie um arquivo txt, chamado arquivo1.txt no diretório "arquivos" na pasta onde está seu Jupyter Notebook, digite a frase: Python é uma linguagem poderosa! 
e salve o arquivo.

### Lendo Arquivos

In [ ]:
# Abrindo o arquivo para leitura
arq1 = open("arquivos/arquivo1.txt", "r", encoding='utf8')

#r de modo leitura

In [ ]:
# Lendo o arquivo
print(arq1.read())

In [ ]:
# Contar o número de caracteres
print(arq1.tell())

In [ ]:
# Retornar para o iníco do arquivo
print(arq1.seek(0,0)) #Onde coloquei o cursor

In [ ]:
# Ler os primeiros 10 caracteres
print(arq1.read(10))

### Gravando Arquivos

In [ ]:
# Abrindo arquivo para gravação
arq2 = open("arquivos/arquivo1.txt", "w") #w de write

In [ ]:
# Como abrimos o arquivo apenas para gravação, não podemos usar comandos de leitura.
print(arq2.read())

In [ ]:
# Gravando arquivo
arq2.write("Testando gravação de arquivos em Python ")

In [ ]:
arq2.close()

In [ ]:
# Lendo arquivo gravado
arq2 = open("arquivos/arquivo1.txt", "r")

In [ ]:
print(arq2.read())

In [ ]:
# Acrescentando conteúdo
arq2 = open("arquivos/arquivo1.txt", "a")

In [ ]:
arq2.write(" \n Acrescentando conteúdo")

In [ ]:
arq2.close()

In [ ]:
arq2 = open("arquivos/arquivo1.txt", "r")

In [ ]:
print(arq2.read())

In [ ]:
# Retornando ao início do arquivo para leitura
arq2.seek(0,0)

In [ ]:
print(arq2.read())

### Automatizando o processo de gravação

In [ ]:
fileName = input("Digite o nome do arquivo: ")

In [ ]:
fileName = fileName + ".txt"

In [ ]:
arq3 = open(fileName, "w")

In [ ]:
arq3.write("Incluindo texto no arquivo criado")

In [ ]:
arq3.close()

In [ ]:
arq3 = open(fileName, "r")

In [ ]:
print(arq3.read())

In [ ]:
arq3.close()

### Abrindo um dataset em uma única linha

Faça download do arquivo salarios.csv em nosso repositório no github. Este arquivo foi obtido no site de dados abertos do governo da cidade de Chicago, nos EUA: https://data.cityofchicago.org/

In [ ]:
f = open('arquivos/salarios.csv', 'r') #apenas para leitura

In [ ]:
data = f.read() #dados armazenados neste data

In [ ]:
rows = data.split('\n') #Divide de acordo com os enters.

In [ ]:
print(rows)

### Dividindo um dataset em colunas

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n') # split de linha

In [ ]:
full_data = [] #criação da lista vazia

In [ ]:
for row in rows:
    split_row = row.split(",") #este caracter é o que está separando por coluna
    full_data.append(split_row)

In [ ]:
print(full_data)

### Contando as linhas de um arquivo

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
count = 0
for row in full_data:
    count += 1   # Equivalente a: count = count + 1

In [ ]:
print(count)

### Contando o número de colunas de um arquivo

In [ ]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
count = 0

In [ ]:
for column in full_data[0]:
    count = count + 1
    
# Outra solução possível
# for column in full_data[0]:
#     count = count + 1

In [ ]:
print(count)

### Gravando arquivo pelo Jupyter Notebook

In [ ]:
%%writefile arquivos/teste.txt  
Comando válido apenas dentro do ambiente do Jupyter Notebook 
(modo iterativo de programar em python)
Olá este arquivo foi gerado pelo próprio Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.

In [ ]:
arq4 = open("arquivos/teste.txt", 'r', encoding = 'utf8') #Abrir arquivo no modo leitura

In [ ]:
arq4.read() #Após aberto, ler o conteúdo

In [ ]:
# Estamos no final do arquivo e não há mais nada para ler
arq4.read()

In [ ]:
# Retornando ao início do arquivo
arq4.seek(0)

In [ ]:
arq4.seek(0)
arq4.readlines() #Função readlines(), muito bom
#Ler linha a linha

In [ ]:
# Podemos usar um loop for para ler o arquivo
for line in open('arquivos/teste.txt', encoding = 'utf8'):
    print(line)

## Importando um dataset com Pandas

In [1]:
import pandas as pd

In [2]:
file_name = "arquivos/binary.csv"

In [3]:
df = pd.read_csv(file_name)

In [4]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [5]:
file2 = "arquivos/salarios.csv"

In [6]:
df2 = pd.read_csv(file2)

In [7]:
df2.head() #método head, apenas imprimir as primeiras linhas, ou seja a cabeça do arti

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>